.cart-list-item {
  margin: 10px 0px 10px 0px;
  width: 100%;
  list-style-type: none;
}

.cart-list-item-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (min-width: 768px) {
  .cart-list-item-container {
    align-items: center;
  }
}

.cart-item-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (min-width: 768px) {
  .cart-item-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.cart-item-image-name-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .cart-item-image-name-container {
    width: 33%;
  }
}

.cart-list-item-image {
  display: none;
}

@media screen and (min-width: 768px) {
  .cart-list-item-image {
    display: block;
    width: 100px;
    height: 80px;
    border-radius: 4px;
    margin-right: 6px;
  }
}

.cart-item-image-small {
  width: 40%;
  height: 80px;
  border-radius: 6px;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .cart-item-image-small {
    display: none;
  }
}

.cart-item-name {
  margin: 0px;
  font-family: 'DM Sans';
  font-weight: bold;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .cart-item-name {
    font-size: 18px;
  }
}

.cart-item-quantity-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 33%;
}

@media screen and (min-width: 768px) {
  .cart-item-quantity-container {
    justify-content: center;
  }
}

.cart-item-price-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .cart-item-price-container {
    width: 33%;
    justify-content: center;
  }
}

.cart-item-price-text {
  margin: 0px;
  font-family: 'DM Sans';
  font-size: 16px;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .cart-item-price-text {
    font-size: 22px;
  }
}

.remove-cart-item-button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  align-self: center;
}
