.login-bg-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .login-bg-container {
    flex-direction: row;
    justify-content: center;
  }
}

.small-login-image {
  height: 40vh;
  width: 90%;
  align-self: flex-end;
  margin: 0px 0px 20px 0px;
}

@media screen and (min-width: 768px) {
  .small-login-image {
    display: none;
  }
}

.login-tasty-kitchens-heading {
  font-size: 20px;
  text-align: center;
  width: 100%;
  margin: 0px;
  color: #f7931e;
  font-family: 'DM Sans';
  font-style: italic;
}

.login-form-heading {
  font-size: 36px;
  margin: 5px 0px 5px 0px;
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-family: 'DM Sans';
}

.login-form-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .login-form-container {
    width: 50%;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid grey;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 1px 1px 5px 5px grey;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .login-form {
    width: 60%;
  }
}

.login-form-logo {
  align-self: center;
}

.login-form-label {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

.login-input-style {
  width: 100%;
  height: 40px;
  background-color: #e2e8f0;
  outline: none;
  border: none;
  border-radius: 6px;
  font-size: 26px;
}

.submit-button {
  width: 100%;
  border-radius: 3px;
  border: none;
  outline: none;
  background-color: #f7931e;
  color: #ffffff;
  font-weight: bold;
  height: 32px;
  margin: 20px 0px 0px 0px;
}

.login-error-message {
  color: #ef4444;
  font-weight: bold;
}

.login-body-image {
  width: 50%;
  display: none;
}

@media screen and (min-width: 768px) {
  .login-body-image {
    display: block;
  }
}
